body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #000000 0%, #121212 300px);
  color: white;
  text-align: center;
}

/* Imagen superior */
header img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

/* Título */
h1 {
  margin-top: 30px;
  font-size: 28px;
}

/* Lista */
ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

/* Cada item */
li {
  margin: 15px 0;
}

/* Links estilo Spotify */
a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #1818188c;
  padding: 12px 25px;
  border-radius: 30px;
  width: 250px;
  transition: 0.3s ease;
  font-size: 18px;
}

/* Hover efecto */
a:hover {
  background-color: #1db954;
  transform: scale(1.05);
}

/* Botón volver */
a[href*="index"] {
  margin-top: 30px;
  display: inline-block;
}


.art {
    width: 300px;
}

.descripcion {
  max-width: 700px;
  margin: 20px auto;
  padding: 0 20px;
}

.descripcion h2 {
  margin-bottom: 10px;
  font-size: 26px;
}

.descripcion p {
  font-size: 16px;
  color: #b3b3b3;
  line-height: 1.6;
}

.redes {
  margin-top: 20px;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

/* Instagram */
.instagram {
  border: 2px solid #1db954;
  color: #1db954;
}

.instagram:hover {
  background-color: #1db954;
  color: black;
}

/* YouTube */
.youtube {
  border: 2px solid red;
  color: red;
}

.youtube:hover {
  background-color: red;
  color: white;
}

.btn i {
  margin-right: 8px;
  font-size: 18px;
}