/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo tipo Spotify */
body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #1f1f1f, #000);
  color: white;
  min-height: 100vh;
}

/* HEADER */
header {
  text-align: center;
  padding: 30px 20px;
}

/* Imagen artista */
.art {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
}

/* Descripción */
.descripcion h2 {
  font-size: 28px;
  margin-bottom: 8px;
}

.descripcion p {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 20px;
}

/* Redes sociales */
.redes {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  padding: 10px 18px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: 0.3s;
}

.instagram {
  background: #1c80c4;
}

.youtube {
  background: #ff0000;
}

.btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* MAIN */
main {
  padding: 20px;
  max-width: 700px;
  margin: auto;
}

main h1 {
  margin-bottom: 20px;
  font-size: 22px;
}

/* Lista canciones */
ul {
  list-style: none;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  display: block;
  padding: 15px;
  background-color: #181818;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

ul li a:hover {
  background-color: #17af1fd7;
  transform: translateX(5px);
}

/* --------------------- */
/* RESPONSIVE MOBILE */
/* --------------------- */

@media (max-width: 480px) {

  .art {
    width: 140px;
    height: 140px;
  }

  .descripcion h2 {
    font-size: 22px;
  }

  .descripcion p {
    font-size: 14px;
  }

  .btn {
    font-size: 13px;
    padding: 8px 14px;
  }

  main h1 {
    font-size: 18px;
  }

  ul li a {
    padding: 12px;
    font-size: 14px;
  }
}


/* ========================== */
/* PAGINA CANCION */
/* ========================== */

.pagina-cancion {
  background: linear-gradient(to bottom, #1f1f1f, #000);
  color: white;
  min-height: 100vh;
  padding: 30px 20px;
}

.contenedor-cancion {
  max-width: 700px;
  margin: auto;
}

.volver {
  display: inline-block;
  margin-bottom: 25px;
  text-decoration: none;
  color: #1db954;
  font-weight: bold;
  transition: 0.3s;
}

.volver:hover {
  opacity: 0.7;
}

.contenedor-cancion h1 {
  margin-bottom: 25px;
  font-size: 28px;
}

.letra {
  background-color: #181818;
  padding: 25px;
  border-radius: 10px;
  line-height: 1.8;
  font-size: 16px;
  white-space: pre-line;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

/* -------- Responsive -------- */

@media (max-width: 480px) {

  .contenedor-cancion h1 {
    font-size: 22px;
  }

  .letra {
    font-size: 14px;
    padding: 18px;
  }

  .volver {
    font-size: 14px;
  }
}

